<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716823816223-l4qo0olv2s6cov3p6mjlkjdj0em3mc9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716823816223-l4qo0olv2s6cov3p6mjlkjdj0em3mc9n</string>
	<key>API_KEY</key>
	<string>AIzaSyAK2xE3EXVXoV11h47CM1Va15kvweT8nlM</string>
	<key>GCM_SENDER_ID</key>
	<string>716823816223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deadlines</string>
	<key>PROJECT_ID</key>
	<string>deadlines-29a44</string>
	<key>STORAGE_BUCKET</key>
	<string>deadlines-29a44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716823816223:ios:f55c90bdb8c1269d7b8d2a</string>
</dict>
</plist>